<div id="fb-root"></div>
<script>
  var fb_uid;
  var fb_access_token;

  function allowUpload(){
    $('input').removeAttr('disabled');
    $('#fb_uid').val(fb_uid);
    $('#fb_access_token').val(fb_access_token);
  }

  window.fbAsyncInit = function() {
    fbInit();
    FB.Event.subscribe('auth.statusChange', loginStatus);
  };

  function loginStatus(response){
    if (response.status === 'connected') {
      fb_uid = response.authResponse.userID;
      fb_access_token = response.authResponse.accessToken;
      $('.fb-login-button').hide();
      allowUpload();
    }
    else{
      $(function(){
        $('.fb-login-button').show();
      });
    }
  }

</script>
<div class="fb-login-button" style="display:none;">Login with Facebook</div>

<form action="<%=submit_url%>" method="POST" enctype="multipart/form-data">
    <input type="input" name="image_title" disabled/><br />
    <input type="file" name="image_upload" disabled/>
    <input type="hidden" name="fb_uid" value="" id="fb_uid" disabled/> 
    <input type="hidden" name="fb_access_token" value="" id="fb_access_token" disabled/> 

    <input type="submit" value="Submit!" disabled/>
</form>