<div id="upload-image">
  <h2>Ladda upp din bild</h2>
  <p class="intro">
    Dela med dig av ditt Wermland!<br>
    <br>
    Ladda inte upp bilder som kan vara stötande eller missvisande.
  </p>

  <form action="<%=submit_url%>" method="POST" enctype="multipart/form-data">
    <p>
      <input type="text" placeholder="Beskrivning (max 30 tecken)" name="image_title" maxlength="30">
    </p>

    <p class="upload">
      <input type="file" name="image_upload">
    </p>

    <input type="hidden" name="fb_uid" value="" id="fb_uid" disabled/> 
    <input type="hidden" name="fb_access_token" value="" id="fb_access_token" disabled/> 

    <input type="submit" value="Ladda upp" class="submit-button">
  </form>
</div>

<script>
  var fb_uid;
  var fb_access_token;

  function allowUpload(){
    $('input').removeAttr('disabled');
    $('#fb_uid').val(fb_uid);
    $('#fb_access_token').val(fb_access_token);
  }

  window.fbAsyncInit = function() {
    fbInit(function(){
      FB.Event.subscribe('auth.statusChange', loginStatus);
      $('.spinner').hide();
    });
  };

  function loginStatus(response){
    if (response.status === 'connected') {
      fb_uid = response.authResponse.userID;
      fb_access_token = response.authResponse.accessToken;
      $('.fb-login-button').hide();
      allowUpload();
    }
    else{
      $(function(){
        $('.fb-login-button').show();
      });
    }
  }

</script>