html {
	background: url(img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg.jpg', sizingMethod='scale')";
}

body{
	margin: 62px 0 0;
	-webkit-font-smoothing: antialiased;
}

a{
	color: #183f15;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
	text-decoration: none;
}

h2{
	margin: 0;
	font: 42px/42px 'Open Sans Condensed', sans-serif;
	color: #92313e;
}

p.intro{
	margin: 20px 0 10px;
	font: 22px/22px 'Open Sans Condensed', sans-serif;
	color: #4d4e45;
}

p.upload{
	margin-top: 35px;
}

a:hover{
	color: #266221;
}

header{
	display: block;
	height: 42px;
	line-height: 42px;
	padding: 0 13px;
	border-bottom: 3px solid #92313e;
	background: #fbfbfd;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

input[type=text]{
	width: 250px;
	height: 42px;
	padding: 0 10px;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #e4e8d0;
	font-weight: bold;
}

input[type=text]:focus{
	outline: none;
}

label{
	font: bold 12px/22px 'Helvetica Neue', sans-serif;
	color: #464741;
}

.logo{
/*	margin: 0 20px 0 0;
	float: left;*/

	position: absolute;
	left: 50%;
	margin-left: -47px;
	top: 5px;
}

nav{
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
}

#upload-your-image{
	display: inline-block;
	line-height: 36px;
	margin: 3px 0 0;
	padding: 0 20px 0 45px;
	border-radius: 5px;
	float: right;
	background: #92313e url(img/camera.png) 12px center no-repeat;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}

#upload-your-image:hover{
	background-color: #701e29;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	float: left;
}

nav a{
	display: block;
	height: 42px;
	padding: 0 10px;
	font-size: 20px;
	color: #999;
	text-shadow: 0 1px 1px #848d83;
}

nav a:hover, nav a.active{
	color: #222;
}

#sign-in{
	height: 42px;
	float: right;
	font: 16px/42px 'The Girl Next Door', serif;
	color: #3f3f3f;
}

#sign-in .fb-connect{
	display: inline-block;
	width: 101px;
	height: 27px;
	margin-left: 5px;
	background: url(img/fb.png);
	vertical-align: middle;
	cursor: pointer;
}

/* Image grid */

#tiles {
	margin: 0;
	position: relative;
	list-style-type: none;
}

#tiles li {
	display: none;
	width: 208px;
	background: #fff;
	border: 5px solid rgba(0,0,0,0.39);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	font: 12px 'Helvetica Neue', sans-serif;
}

.photo {
	display: block;
	margin: 4px;
}

.caption{
	margin: 0;
	text-align: center;
}

.sharing{
	margin: 0 10px;
	height: 30px;
	line-height: 30px;
}

.sharing .inner{
	display: inline-block;
	line-height: 38px;
}

.sharing .pin-it-button,
.sharing .fb-like{
	display: inline-block;
}

.sharing .pin-it-button{
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.author{
	height: 48px;
	overflow: hidden;
	background: #e7e7e7;
}

.author img{
	margin: 5px;
	float: left;
}

.author p{
	margin-top: 9px;
}

.name{
	font-weight: bold;
}

.spinner{
	float: right;
	position: relative;
	top: 15px;
}

/* Upload image */

#upload-image{
	width: 530px;
	height: 280px;
	padding: 20px 35px;
	background: #fff;
	border-radius: 4px;
	border: 5px solid rgba(0,0,0,0.39);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -305px;
}

.submit-button{
	height: 42px;
	padding: 0 10px;
	line-height: 42px;
	border: 1px solid #b1b3a7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #e4e8d0;
	color: #95a172;
	box-shadow: 0 1px 1px #82837a;
	font: 18px sans-serif;
	position: absolute;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	-webkit-transition: background 0.2s;
}
.submit-button:hover{ background: #d9ddc5; }

/* Fullsize image */

#fullsize-image{
	text-align: center;
	margin-top: auto;
	margin-left: auto;
}

#fullsize-image img{
	border-radius: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;

	margin-top: 50px;
	background-color: white;
	padding: 20px;
}

#fullsize-image .image-facebook{
	background-color: white;
	width: 450px;

	margin-top: auto;
	margin-left: auto;
}

#fullsize-facebook{
	width: 530px;
	padding: 20px 35px;
	background: #fff;
	border-radius: 4px;
	border: 5px solid rgba(0,0,0,0.39);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	position: relative;
	bottom: 0px;
	left: 50%;
	margin-left: -305px;
}

.hidden{ display:none !important; }
.only-slightly-hidden{ display:none; }

@media only screen and (max-width: 800px) {
	nav a{ font-size: 18px; }
}

@media only screen and (max-width: 770px) {
	#sign-in span{ display: none; }
}

@media only screen and (max-width: 610px) {
	.logo{ margin-right: 10px; }
	nav a{
		padding: 0 5px;
		font-size: 16px;
	}
}

@media only screen and (max-width: 520px) {
	header{ padding: 0 3px; }
	.logo{ margin-right: 5px; }
	nav a{
		padding: 0 3px;
	}

	nav { height: 22px; }
	nav li{ float: none; }
	nav a{
		height: 20px;
		line-height: 20px;
		font-size: 15px;
	}
}

@media only screen and (max-width: 395px) {
	nav a{
		font-size: 14px;
	}
}