<% @header_tags='' %>
<% @header_tags << '<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# wermlandforever: http://ogp.me/ns/fb/wermlandforever#">' %>
<% @header_tags << '<meta property="og:type" content="wermlandforever:photo" />' %>
<% @header_tags << '<meta property="og:url" content="#{Rails.configuration.host+request.fullpath}" />' %>
<% @header_tags << '<meta property="og:title" content="'+@post.image_title.to_s+'" />' %>
<% @header_tags << '<meta property="og:description" content="'+@post.image_title.to_s+'" />' %>
<% @header_tags << '<meta property="og:image" content="'+@post.medium_url+'" />' %>

<div id="fullsize-image">
	<%= image_tag @post.large_url %>
</div>
<div id="fullsize-facebook">
	<fb:like send="true" width="450" show_faces="true" />
</div>
<!--



<div class="fb-comments" data-href="<%="#{fullsize_url :unique_id => @post.unique_id}"%>" data-num-posts="5" data-width="470"></div>

-->