<!-- sample content to test wookmark -->
<ul id="tiles">

</ul>

<script src="js/jquery.wookmark.js"></script>
<script src="js/jquery.pretty.photo.js"></script>

<script>
    // Wookmark
    var handler = null;
    var options = {
		autoResize: true,
		offset: 16,
		itemWidth: 210
    };
    var nextUrl = "<%=latest_url%>";
    var loadingNext = true;
    var reachedEnd = false;
    var scrollTimer = null;
    var correctImageSpacingTimer = null;

    function onPopulate(){
		handler = $('#tiles li');
		handler.wookmark(options);

		$("a[rel^='prettyPhoto']").prettyPhoto({
			social_tools: ''
		});

    	$('.fb-init').click(function(e){
    		fbInit();
    	})
    }

    function scrollFunctions(){
      	var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 300);

		if(closeToBottom) {
			if(!loadingNext && !reachedEnd) loadNext();

			// Clear our previous layout handler.
			if(handler) handler.wookmarkClear();

			handler = $('#tiles li');
			handler.wookmark(options);
		}
    }
    
    function onScroll(event) {
    	if(!scrollTimer) scrollTimer=setTimeout('scrollFunctions()', 300);
    };

    function loadNext(){
		loadingNext = true;
		$.ajax({
			url: nextUrl,
			success: function(response){
					var $posts = $("#post-tmpl").tmpl(response.posts);
					$posts.hide();
					$posts.appendTo("#tiles");
					$posts.fadeIn('fast');

					nextUrl = response.next_url;
					onPopulate();
					if(response.reached_end) reachedEnd=true;
					loadingNext = false;

					$('#tiles img').on('load', function(){
						if(correctImageSpacingTimer){
							clearTimeout(correctImageSpacingTimer);
							correctImageSpacingTimer = setTimeout('onPopulate()', 100);    
						}else{
							correctImageSpacingTimer = setTimeout('onPopulate()', 100);
						}
					});
				},
			type: 'POST'
       });
    }
  
    $(function() {
    	onPopulate();
    	loadNext();

    	$(document).bind('scroll', onScroll);
    });

	function showModal(){
		$('#intro-modal').fadeIn();
	}
</script>

<script id="post-tmpl" type="text/x-jquery-tmpl">
	<li>
		<a class="fb-init" href="${large_url}" rel="prettyPhoto" title="${image_title}">
			<img src="${medium_url}" class="photo">
		</a>
		<p class="caption">${image_title}</p>
		<div class="sharing">
			<div class="inner">
				<a href="http://pinterest.com/pin/create/button/?url=${fullsize_url}" class="pin-it-button" count-layout="horizontal"><img border="0" src="http://assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
				<div class="fb-like" data-href="${fullsize_url}" data-send="false" data-layout="button_count" data-width="70" data-show-faces="false"></div>
			</div>
		</div>
		<div class="author">
			<img src="${facebook_user_image}" alt="Author name" width="39" height="37">
			<p>
				av <span class="name">${uploaded_by_name}</span>
			</p>

		</div>
	</li>
</script>