<div id="intro-modal" style="display:none;">
	<span id="asd">YOU ARE VISITING THE THANG FOR THE FIRST TIME, BRAH.<br /><a href="#" id="close-intro-modal">GO AWAY</a></span>
</div>
<div id="posts" style="display:none;"></div>

<script>
	$(function(){
		$('#close-intro-modal').click(function(e){
			e.preventDefault()

			$('#intro-modal').fadeOut();

			$.cookie("intro-screen-seen", true);
			showLatest();
			return false;
		})

		<% if cookies["intro-screen-seen"] %>
			showLatest();
		<% else %>
			showModal();
		<% end %>
	})

	function showLatest(){
		$.get('<%=latest_url%>', function(posts){
			console.log(posts);
			$("#postEntry").tmpl(posts).appendTo("#posts");
			$("#posts").fadeIn();
		});
	}

	function showModal(){
		$('#intro-modal').fadeIn();
	}
</script>


<script id="postEntry" type="text/x-jquery-tmpl">
	<div style="float: left;">
		<a href="${fullsize_url}"><img src="${medium_url}" /></a><br />
		<img src="${facebook_user_image}" /> by ${facebook_name}
	</div>
</script>