<div id="about-us">
  <h2>Varför skapade vi den här sidan?</h2>
  <p class="intro">
  	För att vi är värmlänningar! Men också för att ge alla värmlänningar en möjlighet att bidra till och dela med sig bilden av Värmland.
  </p>
  <h2>Staffan Svantesson</h2>
  <p class="intro">
  	Energiknippe, varumärkesstrateg på Paperton, kom på idén och framförden den... <a href="http://twitter.com/staffans" target="_blank">Twitter</a>
  </p>

  <h2>Lincoln Sanderson</h2>
  <p class="intro">
  	Gedigen programmerare som har slitit med att bygga ihop sajten, jobbar som Lead Dev på Paperton... <a href="http://twitter.com/linc_sanders" target="_blank">Följ på Twitter!</a>
  </p>

  <h2>Martin Nilsson</h2>
  <p class="intro">
  	Arbetat med design, fungerat som koordinator och sett över social media strategi samt hjälpt till med en gnutta programmering, CTO på Paperton... <a href="http://twitter.com/mrtinnilsson" target="_blank">Twitter!</a>

  </p>

  <h2>Erik Jansson</h2>
  <p class="intro">
    Implementerat sajtens front. Jobbar som Front End Developer på Paperton. <a href="http://twitter.com/erikjansson" target="_blank">Finns på Twitter!</a>
  </p>

  <h2>Många tack</h2>
  <p class="intro">
  	Till <a href="http://twitter.com/sofienc" target="_blank">Sofie Norén Cermén</a> och Karl Ollars!
  </p>
</div>