<div id="about-us">
  <h2>Varför skapade vi den här sidan?</h2>
  <p class="intro">
    För att vi är stolta över att bo i Värmland. Jadda jadda, med all media vi fått på sistone vill vi ta tillfället i akt
    att visa alla hur bra vårt län verkligen är och låta alla oss som bor här dela med sig av .....
  </p>
  <h2>Staffan Svantesson</h2>
  <p class="intro">
  	Energiknippe, varumärkesstrateg på Paperton, kom på idén och framförden den... tjing tjong
  </p>

  <h2>Lincoln Sanderson</h2>
  <p class="intro">
  	Gedigen programmerare som har slitit med att bygga ihop sajten, jobbar som Lead Dev på Paperton...
  </p>

  <h2>Martin Nilsson</h2>
  <p class="intro">
  	Arbetat med design, fungerat som koordinator och sett över social media strategi samt hjälpt till med en gnutta programmering, CTO på Paperton...
  </p>

  <h2>Många tack</h2>
  <p class="intro">
  	Till Sofie Norén Cermén och Karl Ollars som tillsammans tagit fram logotypen.
  </p>
</div>