<div id="about-us">
  <h2>Varför skapade vi den här sidan?</h2>
  <p class="intro">
  	För att vi är värmlänningar! Men också för att ge alla värmlänningar en möjlighet att bidra till och dela med sig bilden av Värmland.
  </p>
  <h3>Staffan Svantesson</h3>
  <p class="about-text">
  	Energiknippe, varumärkesstrateg på Paperton, kom på idén och framförde den... <a href="http://twitter.com/staffans" target="_blank">Twitter</a>
  </p>

  <h3>Lincoln Sanderson</h3>
  <p class="about-text">
  	Gedigen programmerare som har slitit med att bygga ihop sajten, jobbar som Lead Dev på Paperton... <a href="http://twitter.com/linc_sanders" target="_blank">Twitter</a>
  </p>

  <h3>Martin Nilsson</h3>
  <p class="about-text">
  	Arbetat med design, fungerat som koordinator och sett över social media strategi samt hjälpt till med en gnutta programmering, CTO på Paperton... <a href="http://twitter.com/mrtinnilsson" target="_blank">Twitter</a>

  </p>

  <h3>Erik Jansson</h3>
  <p class="about-text">
    Implementerat sajtens front. Jobbar som Front End Developer på Paperton. <a href="http://twitter.com/erikjansson" target="_blank">Twitter</a>
  </p>

  <h3>Många tack</h3>
  <p class="about-text">
  	Till <a href="http://twitter.com/sofienc" target="_blank">Sofie Norén Cermén</a> och Karl Ollars!
  </p>
</div>